<div class="container">  
  <p class="mt-lg">
    <%= render 'form', question: @question %>
  </p>

  <h2 class="title-lg mt-lg mb">All Questions</h2>

  <% @questions.each do |question| %>
    <div class=" container">
      <%= render question %>
    </div>
  <% end %> 
  



</div>