<div class="container">  
  <p class="mt-sm ">
    <%= render 'form', question: @question %>
  </p>

  <h2 class="title-lg mt-lg mb">
    <%= @questions.count %>
    <%= question_count_text(@questions.count) %>
  </h2>

  <% @questions.each do |question| %>
    <div class=" question-container">
      <%= render question %>
    </div>
  <% end %> 
</div>