<div class="container">
  <div class="question-header mb">
    <h2 class="title-lg">New question</h2>
    <%= link_to fa_icon('right-from-bracket'), questions_path, class: "exit" %>
  </div>

  <%= render 'form', question: @question %>
</div>