.button {
  border: none;
  border-radius: .5rem;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 13px 7px;
  text-decoration: none;
}

.button-main {
  background-color: #3B82F6;
}

.btn-danger {
  color: #EF4444;
}
