.button {
  border: none;
  border-radius: 2rem;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  padding: 13px 25px;
  text-decoration: none;
  cursor: pointer;
}

.button-main {
  border: 1px solid #0ea4e9;
  background-color: #fff;
  color: #0ea4e9;
  font-weight: 700;
  outline: none;
  transition: background-color .5s ease;

}

.button-main:hover {
  transition: background-color .5s ease;
  background-color: #0ea4e9;
  color: #fff;
}

.btn-danger {
  color: #f87171;
}

.exit {
  font-size: 23px;
}

.send-button {
  display: flex;
  align-items: end;
  justify-self: flex-end;
  border-radius: 100%;
  padding: 15px ;
  border: none;
  background-color: transparent;
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: large;
}