.navbar {
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 1rem 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  text-decoration: none;
  color: #1E293B;
}

.nav-logo:hover {
  color: #1e293bd2;
}

.navbar-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}
