.navbar {
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 1rem 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  text-decoration: none;
  color: #1E293B;
}

.nav-logo:hover {
  color: #1e293bd2;
}

.user-info {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-weight: 600;
}

.avatar {
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  object-fit: cover;
  margin-right: 10px; 
  border: 2px solid #0ea4e9;
}

.navbar-right {
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
  align-items: center;
}
