:root {
  --main: #0ea4e9;
  --main-dark: #0f86bd;
  --red: #f87171;
  --dark-red: #a83535;
  --darker-red: #792525;
  --bright-grey: #e5e7eb;
  --light-grey: #e0e0e0;
  --silver-grey: #c7c7c7;
  --grey: #A0AEC0;
  --dark-grey: #6b7280;
  --pale-blue: #f8fafc;
  --blue: #0077b5;
  --darker-blue: #005885;
  --black: #1E293B;
  --darker-black: #1a1e22;
  --white: #fff;
  --dusty-white: #fdfdfd;
  --white-smoke: #f4f4f4;
  --transparent-logo: #1f2427df;
  --transparent-dark: rgba(0, 0, 0, 0.4);
  --green: #4ade80;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 100%;
  text-decoration: underline;
}

.button_to {
  display: inline;
}