body {
  color: var(--black);   
  font-family: 'Inter', sans-serif;
}

a, button {
  color: var(--main);   
}

.title-lg {
  font-size: 175%;
}

.title-md, .title {
  font-size: 150%;
}

.title-sm {
  font-size: 125%;
}

.text-lg {
  font-size: 80%;
}

.subtitle {
  font-style: italic;
}

.text-bold {
  font-weight: 600;
}

.text-dark {
  color: var(--dark-grey);
}

.text-grey {
  color: var(--grey);
}

.text-red {
  color: var(--red);
}

.no-underline {
  text-decoration: none;
}