body {
  color: #1E293B;
  font-family: 'Inter', sans-serif;
}

a, button {
  color: #0ea4e9;   
}

.title-lg {
  font-size: 175%;
}

.title-md, .title {
  font-size: 150%;
}

.title-sm {
  font-size: 125%;
}

.text-lg {
  font-size: 80%;
}

.subtitle {
  font-style: italic;
}

.text-bold {
  font-weight: 600;
}

.text-dark {
  color: #6b7280;
}

.text-light {
  color: #9ca3af;
}

.text-red {
  color: #f87171;
}

.no-underline {
  text-decoration: none;
}

